@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
@import "./hover.css";

* {
  margin: 0;
  padding: 0;
}

.nav {
  margin-bottom: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.search-bar {
  margin-bottom: 5px;
}

.composers {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: space-around;
}

.composer-card {
  position: relative;
}

.composer-card p {
  position: absolute;
  top: 175px;
  text-align: center;
  width: 100%;
}

.composer-card p span {
  color: rgb(204, 19, 90);
  font: bold 20px/45px Helvetica, Sans-Serif;
  
}