.composers-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex;
}

.composers-filters {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, .7);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.composers-list {
    padding: 20px;
    height: 75vh;
    display: grid;
    grid: 1fr 1fr / repeat(5, 1fr);
    grid-gap: 60px;
    
}

.composer-card {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px
}

.composer-card p {
    display: block;
    text-align: center;
}

.composer-card span {
    color: #fff;
    text-align: center;
    font-family: "Comissioner", sans-serif;
    font-weight: bold;
}
.composer-card a {
    width: 75%;
    margin: 0 auto;
}

.composer-card-photo {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    margin-bottom: 20px;
}

.composer-card-name {
    height: 10%;
}

.composer-card a span:hover {
    color: #ff9900;
}

.composers-filters div
 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 20px;
}

.composers-filters-name input {
    width: 100%;
    outline: none;
    padding: 5px;
}

