.composers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  
  .composers-main {
    padding: 10px;
  }
  
  .composer-card {
    width: 18%;
    height: 300px;
    margin: 10px;
    position: relative;
    text-align: -webkit-center;
  }
  
  .composer-card img {
    width: 100%;
    opacity: 0.5;
  }

  .composer-card img:hover {
    opacity: 1;
  }
  
  .composer-card p {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: block;
    text-align: center;
    width: 100%;
  }
  
  .composer-card p span {
    line-height: -16px;
    color: rgb(0, 255, 255);
    font: bold 16px Helvetica, Sans-Serif;
  }
  
  .composer-card:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5)
  }
  
  .detail-image {
      padding: 30px;
      width: 40%;
      height: auto;
      float: left;
  }

  .detail-name {
      text-align: center;
      margin: 20px 0;
  }

  .detail-article {
      margin-left: 10px;
      font-size: 1rem;
  }